################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sandbox/.vs/sandbox
/sandbox/obj/Debug/net7.0
/simpe calculator/obj
/simpe calculator/bin/Debug/net6.0
